<div id = "header" class = "head_inv">
    <img src="pictures/logo.png" alt="VALEN logo" id = "logo">
    <button id = "hamburger" class = "hamburger" type = "button">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <a href="" class = "phone_head_link"><i class="fa-solid fa-phone" style="color: #1f71ce;"></i></a>
    <button class = "close_menu" id = "closeMenu" type = "button">
        <i class = "fa-solid fa-xmark"></i>
    </button>
    <div class = "nav_links" id = "mobileMenu">
        <img src="pictures/logo.png" alt="VALEN logo" class = "hamburger_logo">
        <a class = "link home" href="../index.html"><img class = "link_icons" src="pictures/homeIcon.svg" alt="home-icon">Home</a>
        <a class = "link"><img class = "link_icons" src="pictures/carPic7.svg" alt="car-icon">Inventory</a>
        <a class = "link" href = "#sellForm"><img class = "link_icons" src="pictures/tagPic6.svg" alt="tag-icon">Sell Your Car</a>
        <a href="#RepairServices" class = "link"><img class = "link_icons" src="pictures/repairPic4.svg" alt="wrench-icon">Repair Services</a>
        <a href = "#AboutUs" class = "link"><img class = "link_icons" src="pictures/userPic.svg" alt="user-icon">About Us</a>
        <a href = "#ContactUs" class = "link"><img class = "link_icons" src="pictures/mailPic3.svg" alt="mail-icon">Contact</a>
        <a class = "phone_num"><i class="fa-solid fa-phone" style="color: #1F71CE;"></i> (204) 999-9999</a>
        <a href="#bookRepairModal" data-bs-toggle="modal" class = "head_btn">Book Repair</a>
    </div>
</div>
<section class = "sep_hero_sect">
    <div style = "display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <a href="" class = "web_directions_link" style = "margin-left: 0;">Home</a>
            <i class="fa-solid fa-chevron-right" style="color: #2a2a2ac6; font-size: 0.8rem;"></i>
            <a href="" class = "web_directions_link">Inventory</a>
            <i class="fa-solid fa-chevron-right" style="color: #2a2a2ac6; font-size: 0.8rem;"></i>
            <a href="" class = "web_directions_link">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.trim }}</a>
        </div>       
        <div style = "display: flex; align-self: right; align-items: center;">
            <i class="fa-solid fa-chevron-left back_inv" style="color: #1f71ce; font-size: 0.8rem;"></i>
            <a href ="" class = "back_link">Back to Inventory</a>
        </div>
    </div>
    <div style = "display: flex;">
        <div class = "car_gallery">
            <div class = "main_img_wrap">
                @if (selectedImage === vehicle.carImages[0]) {
                    <div class = "badges_wrap">
                        <div class = "special_badge badges">{{ vehicle.special }}</div>
                        <div class = "cert_badge badges">
                            <i class="fa-solid fa-file-shield" style="color: #1f71ce; font-size: 1.1rem;"></i>
                            {{ vehicle.certification }}
                        </div>
                        <div class = "cert_badge badges">
                            <i class="fa-solid fa-square-check" style="color: #0b8500; font-size: 1.1rem;"></i>
                            {{ vehicle.title }}
                        </div>
                    </div>
                }
                @if (vehicle.carImages.indexOf(selectedImage) > 0) {
                    <button class = "arrow left main_arr" (click) = "showPreviousImage()">
                        <i class="fa-solid fa-chevron-left" style="color: #1f71ce; font-size: 1.5rem;"></i>
                    </button>
                }
                <img class = "main_car_img" [src]="selectedImage" alt="Vehicle">
                @if (vehicle.carImages.indexOf(selectedImage) < vehicle.carImages.length - 1) {
                    <button class = "arrow right main_arr" (click) = "showNextImage()">
                        <i class="fa-solid fa-chevron-right" style="color: #1f71ce; font-size: 1.5rem;"></i>
                    </button>
                }
            </div>
            <div class = "thumb_wrap">
                @if (showLeftArrow) {
                    <button class = "arrow left" (click) = "scrollThumbnails(-1)">
                        <i class="fa-solid fa-chevron-left" style="color: #1f71ce; font-size: 1.1rem;"></i>
                    </button>
                }
                <div class = "thumbnails" #thumbnailsContainer (scroll)="updateArrows()">
                    @for (image of vehicle.carImages; track image) {
                        <img class = "thumbnail" [class.active] = "image === selectedImage" [src]="image" alt="Vehicle" (click)="selectImage(image)">
                    }      
                </div>
                @if (showRightArrow) {
                    <button class = "arrow right" (click) = "scrollThumbnails(1)">
                        <i class="fa-solid fa-chevron-right" style="color: #1f71ce; font-size: 1.1rem;"></i>
                    </button>
                }       
            </div>
        </div>
        <div class = "car_info">
            <h1 class = "car_name">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.trim}}</h1>
            <p class = "car_base_details">{{ vehicle.bodyStyle }} · {{ vehicle.engineSize }} · {{ vehicle.transmission }}</p>
            <p class = "car_price">${{ vehicle.price }}</p>
            <div style = "display: flex;">
                <button class = "car_contact_button car_book_buttons" style = "margin-left: 0;">
                    <i class="fa-solid fa-envelope" style="color: #ffffff; font-size: 1.2rem;"></i>
                    <p>Contact Us</p>
                </button>
                <button class = "car_call_button car_book_buttons">
                    <i class="fa-solid fa-phone" style="color: #1f71ce; font-size: 1.2rem;"></i>
                    <p style = "color: #1F71CE;">Call Now</p>
                </button>
                <button class = "car_book_button car_book_buttons">
                    <i class="fa-solid fa-calendar-days" style="color: #000000; font-size: 1.2rem;"></i>
                    <p>Book a Test Drive</p>
                </button>
            </div>
         
        </div>
    </div>
</section>