@media (max-width: 768px) {
    /*hero*/
    .bsr {
        font-size: 0.9rem !important;
        margin-top: -1rem;
        margin-bottom: 1rem !important;
    }

    .slogan {
        margin-bottom: 0rem !important;
        font-size: 2rem !important;
    }

    .cont1_txt {
        font-size: 1rem !important;
        width: 16rem;
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }

    .hero_buttons {
        display: block !important;
    }

    .options {
        width: 24rem !important;
        margin-left: 0rem !important;
        height: 3.5rem !important;
        font-size: 0.9rem !important;
        justify-content: left !important;
        margin-top: 0.5rem !important;
    }

    .hero_buttons img {
        width: 2.5rem !important;
        height: 2.5rem !important;
        margin: 0.2rem 0.7rem 0 1rem !important;
    }

    .stats_main_wrap {
        display: block !important;
    }

    .car_logo2 {
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .main_stat {
        font-size: 1.3rem !important;
    }

    .stat p {
        font-size: 0.7rem;
        margin-right: 1.2rem;
    }

    .stats_pics {
        margin-left: 2rem !important;
    }

    .stats_main_wrap {
        display: block !important;
    }

    .stats_little_wrap {
        display: flex;
    }

    .divider {
        display: none !important;
    }

    .stat {
        margin-top: 1rem !important;
    }

    .stats_pics2 {
        margin-left: 4.5rem !important;
    }

    .wrap1 {
        margin-top: 2rem !important;
    }

    .wraps_div {
        display: block !important;
    }

    .container.mt-5 {
        margin-left: 1rem;
    }

    /* hero section end */

    /* feat vehicles */
    .cont_box2 {
        margin: 2rem 0 0 1.5rem;
    }

    #featVehCard {
        font-size: 0.9rem;
    }

    #featMain h1 {
        font-size: 2rem !important;
        width: 17rem;
        margin-top: 0.4rem !important;
    }

    #featMain {
        display: block !important;
    }

    .feat_main_txt {
        font-size: 0.9rem !important;
        margin-top: -5.7rem;
        margin-bottom: 4.5rem;
    }

    .cont_box1 {
        height: auto !important;
        min-height: 100vh;
    }

    #invt_btn {
        margin: 3rem 0 0 0 !important;
        width: 24rem !important;
    }

    .car_card {
        width: 24rem !important;
        height: 10.5rem !important;
        display: flex;
    }

    .car_img {
        width: 10rem !important;
        height: 100% !important;
        border-radius: 15px 0 0 15px !important;
    }

    .fead_note {
        width: 4rem !important;
        height: 1rem !important;
        font-size: 0.55rem !important;
        border-radius: 3px !important;
        left: 0.6rem !important;
        top: 0.6rem !important;
    }

    .img_count {
        width: 3rem !important;
        height: 1rem !important;
        font-size: 0.55rem !important;
        left: 0.5rem;
        bottom: 0.5rem;
    }

    .img_count i {
        font-size: 0.55rem;
    }

    .btn_arrow_next {
        display: none;
    }

    .vdet_btn {
        display: none !important;
    }

    .car_divider {
        display: none !important;
    }

    .car_make {
        font-size: 0.9rem !important;
        margin: 0.8rem 0 0.2rem 1rem;
    }

    .car_details {
        font-size: 0.7rem !important;
    }

    .car_price {
        margin-top: 1rem !important;
        font-size: 1.15rem !important;
        display: flex;
    }

    .feat_desc {
        font-size: 0.7rem !important;
        margin-top: 1.2rem !important;
    } 

    .feat_icons {
        margin: 0 0.5rem 0 0.5rem !important;
        
    }

    .feat_btm_icon {
        right: 11.9rem;
        top: 1.7rem;
        position: relative;
    }

    .feat_btm_text {
        position: relative;
        right: 11.9rem;
        top: 1.9rem;
    }
    
    .feat_km {
        width: 4.25rem;
        white-space: nowrap;
    }

    .exp_car {
        display: block !important;
        font-size: 1.8rem;
        margin-left: 6.5rem;
    }

    .feat_grid {
        display: block !important;
        margin-top: 6rem;
    }

    .exp_car_link {
        display: flex !important;
        justify-content: center;
    }

    .feat_info {
        display: block !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 23.87rem;
        border-radius: 12px;
        margin-left: 0.15rem;
        margin-top: 2rem !important;
    }

    .feat_info_img {
        width: 2.5rem !important;
        height: 2.5rem !important;
        margin: -0.2rem 1rem 0 0.8rem;
    }

    .feat_info_head {
        font-size: 0.85rem !important;
        margin-top: -0.1rem;
    }

    .feat_info_txt {
        width: 20rem !important;
        font-size: 0.65rem !important;
    }

    .phone_info_divider {
        height: 0.043rem;
        width: 21.75rem;
        border-bottom: 0.043rem solid rgba(98, 98, 98, 0.33);
        display: block !important;
        margin: 0.3rem 2rem 0 1rem;
    }

    .feat_info_divider {
        display: none !important;
    }

    .feat_info_box {
        margin-top: 1rem;
    }

    #featInfoImg1 {
        margin-top: 1rem !important;
    }

    #featInfoBox1 {
        margin-top: 1rem !important;
    }

    #featInfoBox4 {
        margin-bottom: 1rem;
    }

    /* section3 start */

    #sellCard {
        font-size: 0.9rem !important;
        display: flex;
        justify-content: center;
        margin-left: -1rem;
    }

    #sellMain {
        width: 20rem;
        text-align: center;
        justify-self: center !important;
        margin-left: 2.5rem;
        font-size: 2rem !important;
    }

    #sellText {
        text-align: center;
        font-size: 0.9rem !important;
    }

    .sell_steps_box {
        width: 22.5rem !important;
        height: 6.5rem !important;
        margin-left: 1.5rem;
    }
    
    .sell_circ {
        height: 3.5rem !important;
        width: 3.5rem !important;
        margin: 1.37em 1rem 0 1rem !important;
    }

    .sell_circ_icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .sell_points {
        font-size: 0.95rem;
        margin-top: 1.37rem !important;
    }

    .sell_points_desc {
        font-size: 0.75rem !important;
    }

    #sellCircIcon3 {
        margin-top: 0.35rem !important;
    }

    .sell_btm_img {
        height: 2.1rem;
        width: 2.1rem;
    }

    .sell_btm_head {
        font-size: 0.73rem;
        margin-bottom: 0 !important;
    }

    .sell_box {
        display: none;
    }

    .sell_btm_txt_box {
        margin-left: -0.3rem !important;
    }

    .sell_btm_txt {
       font-size: 0.65rem !important; 
    }

    .sell_form {
        width: 25rem !important;
        height: 70.625rem !important;
        margin-left: 0.2rem !important;
    }

    /*form*/

    #sellFormCirc {
        width: 4.846rem;
        height: 3.4rem !important;
    }

    #formCircImage {
        width: 2.8rem;
        height: 2.8rem;
    }

    .form_head {
        font-size: 1.43rem !important;
    }

    .sell_form_txt {
        font-size: 0.8rem !important;
    }

    .form-group {
        display: block !important;
    }

    .sell_form_inp {
        margin-left: 0 !important;
    }

    .upload_box {
        margin-left: 0.3rem !important;
    }

    .upload_txt {
        font-size: 0.8rem;
    }

    .upload_status {
        display: none;
    }

    .preview_row {
        margin-left: 0.5rem !important;
        gap: 0.2rem;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 7.9rem;
        padding-bottom: 0.5rem;
        -webkit-overflow-scrolling: touch;
    }

    .preview_img {
        flex: 0 0 auto;
    }

    #conditionSelect {
        width: 19.5rem !important;
    }

    #picContainer {
        margin-right: 0.45rem;
    }

    #picDel {
        color: rgba(0, 0, 0, 0.85);
    }
    /* end of section 3 */

    #sct4Wrap {
        margin-left: 1.5rem !important;
    }

    #sellForm {
        margin-bottom: 3.5rem !important;
    }

    #repHeadWrap {
        display: block !important;
    }

    #repHead {
        font-size: 1.8rem !important;
    }

    #repHeadText {
        font-size: 0.9rem !important;
        margin-top: -8.5rem;
        margin-bottom: 5rem;
        width: 20rem !important;
    }

    #rep_btn {
        margin-top: 6rem !important;
        margin-left: 0 !important;
        width: 24rem !important;
    }

    .repair_box {
        width: 24.7rem;
        height: 8.3rem;
        margin-top: 1rem !important;
    }

    .repHeaderBox {
        margin-top: 0.3rem !important;
    }

    .repair_images {
        height: 100%;
        width: 7rem;
    }

    .repair_icons {
        height: 3.5rem;
        width: 3.5rem;
        margin-left: 0.5rem !important;
        margin-top: -0.2rem;
    }

    .repair_card_title {
        margin-top: 0.5rem !important;
    }

    .repair_card_desc {
        font-size: 0.9rem !important;
        margin-top: 0 !important;
        width: 15rem !important;
    }

    #oilText {
        margin-top: -0.4rem !important;
    }

    .rep_cards_box {
        margin-left: 0 !important;
    }

    #repDiag {
        margin-top: -0.6rem !important;
    }

    #repElec {
        margin-top: -0.4rem !important;
    }

    #repSusp {
        margin-top: -0.3rem !important;
    }

    .repair_box_btm {
        margin: 3rem 0 0rem 1rem !important;
        width: 24.7rem !important;
        justify-self: center;
        height: 5.8rem;
    }

    .repair_box_btm_text {
        display: none !important;
    }

    .repair_box_btm_title {
        width: 10rem;
        font-size: 1rem !important;
        margin: 0.7rem 0 0rem 1rem !important;
    }

    .repair_box_btm_icon {
        margin-top: -0.75rem;
    }

    #rep_icon_btm {
        font-size: 1rem !important;
        margin-left: 0.5rem !important;
    }

    #rep_btn_btm {
        width: 35rem;
        font-size: 0.782rem;
        margin: 1.4rem 1rem 1rem 0rem;
    }

    .sct_gr {
        padding-bottom: 2rem;
    }

    .sect_w {
        margin-top: 2rem !important;
    }

    .modal-dialog {
        margin-left: 0 !important;
    }

    #modBox {
        display: block !important;
    }

    .mod_divider {
        display: none !important;
    }

    /*.modal-content {
        width: 23rem !important;
        margin-left: 1.9rem !important;
    }*/
    .modal-content {
        width: 25rem !important;
        margin-left: 1rem !important;
    }

    .rep_mod_circ {
        height: 3.4rem !important;
        width: 3.4rem !important;
        margin-bottom: 0.5rem;
    }

    #imgMod {
        margin-top: 0.25rem !important;
        width: 2.2rem;
        height: 2.2rem;
    }

    #modHead {
        font-size: 1.2rem !important;
        margin-top: 1rem;
    }

    #modText {
        display: none;
    }

    .rep_mod_close {
        margin-right: 0.7rem;
    }

    .form-control::placeholder {
        position: static;
    }

    .mod_inp {
        margin-bottom: -0.5rem;
    }

    #infoMod {
        margin-bottom: 0 !important;
    }

    .mod_labels {
        font-size: 0.9rem;
    }

    .mod_inp input {
        width: 22.5rem;
        height: 2.7rem;
        font-size: 0.9rem;
    }

    #modSelect {
        width: 22.5rem;
        height: 2.7rem;
    }

    .mod_form::placeholder {
        font-size: 0.8rem;
    }

    .modEmj {
        font-size: 1rem !important;
    }

    .mod_custom_select .mod_emoji_down { 
        margin-top: 1.6rem; 
    }

    .mod_custom_select .mod_emoji_up { 
        margin-top: 1.6rem; 
    }

    .mod_select_options {
        width: 22.5rem !important;
        max-height: 11rem;
        overflow-y: scroll;
    }

    .formS {
        width: 11rem !important;
        padding-left: 45px !important;
    }

    .d_flex {
        display: flex !important;
    }

    .mod_mg_left {
        margin-left: -8rem;
    }

    #mod_more {
        width: 22.5rem !important;
    }

    /*.calendar_days > :nth-child(n+8) {
        display: none;
    }*/

    .modal_hide {
        display: none !important;
    }

    .time_options {
        max-height: 8rem !important;
        overflow-y: scroll !important;
    }

    .calendar {
        margin-top: 2rem;
    }

    .av_text {
        font-size: 0.8rem !important;
        font-weight: 600 !important;
    }

    .btm_mod_divider {
        margin: 1rem 0 0 0rem !important;
        width: 22rem !important;
    }

    #modDivHide {
        display: none;
    }

    .mod_btm_cal {
        margin: -0.15rem 0.4rem 0 0rem !important;
    }

    .req_app_mod {
        margin: 0.81rem 0 0 0 !important;
        font-size: 0.81rem !important;
    }
    /* end of section4 */

    /* section5 */

    .choose_head {
        display: block;
        justify-self: center;
        text-align: center;
    }

    .choose_text {
        width: 24rem;
        font-size: 0.85rem;
        margin-left: 1.3rem;
    }

    .choose_box_dis {
        display: block !important;
        margin-top: 2rem !important;
    }

    .choose_card {
        height: 18rem !important;
        width: 12rem !important;
        margin-left: 0.95rem !important;
        border: 0.5px solid #8080803d;
    }

    .choose_circ {
        width: 4rem !important;
        height: 4rem !important;
    }

    .card_circ_mg {
        margin-top: 1rem;
    }

    #chooseCirc1 {
        margin-top: -0.27rem;
    }

    #cardPic1 {
        margin-top: -0.45rem !important;
    }

    .chooseBtmCards {
        margin-top: 1rem;
    }

    .choose_pic {
        width: 2.5rem !important;
        height: 4.5rem !important;
        margin-top: -0.4rem;
    }

    .choose_card_head {
        font-size: 0.95rem;
    }

    .choose_card_divider {
        margin: 0.7rem 0 1rem 0 !important;
    }

    .choose_card_txt {
        font-size: 0.85rem;
        width: 10rem !important;
    }

    .choose_box {
        height: 5rem;
        width: 25rem;
        margin-top: 1.5rem !important;
        margin-left: 1rem;
    }

    .choose_footer_txt {
        display: none !important;
    }

    .choose_car_icon {
        /*left: 4rem;
        right: 0rem !important;
        height: 9rem;
        width: 9rem;
        bottom: 2rem !important;*/
        display: none !important;
    }

    .choose_footer_head {
        display: none !important;
    }

    .choose_btn {
        height: 3rem;
        width: 7.5rem !important;
        margin-top: -1rem;
        font-size: 0.7rem !important;
    }

    .choose_btn_icon {
        margin-left: 0rem !important;
        margin-top: 0.4rem !important;
    }

    .choose_btn_txt {
        margin-top: 0.4rem;
    }

    #chooseBtnText1 {
        margin-top: 0.4rem !important;
    }

    .choose_btn_icon1 {
        margin-left: 0.5rem !important;
    }

    .choose_btn_txt3 {
        margin-top: 0.9rem !important;
        margin-left: 0rem !important;
    }

    .choose_btn_icon3 {
        margin-left: -0.3rem !important;
    }

    .choose_btn_txt2 {
        margin-top: 0.9rem !important;
    }
    /* end of sct 5 */
    /*start of sct 6*/

    .works_card_n {
        font-size: 0.9rem !important;
        margin-left: -1rem;
        margin-top: -2rem !important;
    }

    .works_head_n {
        font-size: 1.6rem !important;
        width: 40rem;
        justify-self: center;
        margin-left: -6rem;
    }

    .works_head_part {
        margin-left: 0rem !important;
    }

    .works_wrap {
        display: block !important;
        margin-top: 1rem !important;
    }

    .works_text_n {
        margin-bottom: 0 !important;
    }

    .works_square {
        height: 4rem;
        width: 4rem;
        flex-shrink: 0;
        margin-right: 1rem !important;
    }

    .works_icons {
        height: 3rem;
        width: 3rem;
        margin-top: 0.15rem;
    }

    .works_head {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }

    .works_txt {
        font-size: 0.8rem;
        width: 20rem !important;
    }

    .phone_d_flex {
        display: flex !important;
    }

    .phone_d_block {
        display: block !important;
    }

    .works_step_num {
        flex-shrink: 0;
        font-size: 1.2rem;
        width: 2rem !important;
        height: 2rem !important;
    }

    .break_div {
        rotate: 90deg;
        /*margin: -2rem 0.5rem 0 3.2rem;
        height: 6rem;*/
        margin: -2.5rem 1rem 0 3.8rem;
        height: 7rem
    }

    .works_st_head {
        font-size: 0.8rem;
        width: 8.5rem;
        margin-top: -1.5rem !important;
        margin-left: 1.3rem;
        font-weight: 680;
    }

    .works_st_head2 {
        width: 10rem;
        margin-left: 0 !important;
    }

    .works_st_head1 {
        margin-left: -1rem !important;
    }

    .works_step_num1 {
        margin-left: 2.5rem !important;
    }

    .works_st_txt {
        font-size: 0.7rem;
        width: 7rem;
        text-align: center;
    }

    .works_st_txt1 {
        margin-left: -1rem;
    }

    .works_st_txt3 {
        margin-left: 0.25rem;
    }

    .works_st_txt2 {
        margin-left: 0.75rem;
    }

    .works_card {
        height: auto !important;
        width: auto !important;
        margin-left: 0rem !important;
    }

    .works_divider {
        height: 24rem !important;
        rotate: 90deg;
        margin: -12.5rem 0 -11.5rem 13.3rem !important;
    }

    .works_st_head_n1 {
        width: 9.5rem !important;
        margin-left: 0 !important;
    }

    .works_st_head_n2 {
        margin-left: -1.2rem !important;
    }

    .works_st_txt_n3 {
        width: 8rem !important;
    }

    .works_st_head_n3 {
         margin-left: 2.3rem !important;
    }

    .works_txt2 {
        width: 10rem;
    }

    .works_st_head_p2 {
        margin-left: -0.5rem !important;
    }

    .works_st_txt_p2 {
        margin-left: -1.15rem !important;
    }

    .works_view_btn {
        font-size: 0.8rem !important;
        margin-top: -1.5rem;
        margin-bottom: 1rem;
        margin-left: 9.3rem !important;
    }
    
    /*sect6 end */
    /*sect7 start */
    .faq_card {
        font-size: 0.9rem !important;
    }

    .faq_head {
        font-size: 2rem;
        display: grid;
    }
    
    .faq_div {
        width: 2.5rem;
        margin-left: 12.25rem;
    }

    .sct7 {
        margin-top: 2rem !important;
    }

    .choose_text {
        margin-bottom: 2rem !important;
    }

    .empt_div {
        height: 1.5rem !important;
    }

    .fa_questions {
        width: 25rem !important;
        margin-left: 1rem;
    }

    .accordion-button {
        font-size: 0.9rem !important;
        line-height: 1.5;
        font-weight: 650;
        height: auto;
        padding: 0 2.5rem 0 1rem !important;
    }

    .acc_pic_box {
        height: 2.5rem;
        width: 2.5rem;
    }

    .faq_icons {
        height: 2.8rem !important;
        margin-top: -0.1rem;
    }

    .accordion-body {
        font-size: 0.8rem !important;
    }

    .acc_div {
        margin: 0.7rem -0.2rem 1rem 3.5rem !important;
        height: auto !important;
    }

    .faq_btm_box {
        width: 25rem !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .faq_circ {
        flex-shrink: 0;
        height: 3.5rem;
        width: 3.5rem;
        margin: 0.65rem 0 0 1rem !important;
    }

    #faqFootIcon {
        display: block !important;
        height: 5rem;
        width: 5rem;
        margin-top: 0.1rem;
    }

    #faqFootHead {
        display: block !important;
        font-size: 0.9rem;
        margin: -0.7rem 0 0 4.5rem !important;
    }

    .faq_foot_div {
        display: none;
    }

    .faq_foot_button {
        margin-left: 1rem !important;
        position: relative;
        right: 3.5rem;
    }

    .faq_foot_btn {
        font-size: 0.7rem !important;
        margin-left: 0.8rem;
    }

    .faq_arr {
        font-size: 0.8rem !important;
        margin: 1rem 2rem 0 0.8rem !important;
    }

    .faq_arrow {
        height: 12rem;
        margin: -4rem 0 0 -7rem;
    }
    /* sect7 end*/
    /*sect8 start*/

    #AboutUs {
        font-size: 0.9rem;
    }

    .abt_us_head {
        font-size: 2rem;
        justify-self: baseline;
        text-align: justify;
    }

    .abt_us_txt {
        font-size: 0.85rem;
        margin-left: 0;
        margin-top: 0 !important;
    }

    .abt_us_box {
        margin-left: -0.2rem !important;
    }

    .abt_wrap {
        justify-items: center;
    }

    .abt_wrap .choose_circ {
        /*margin-left: -2rem; */
        position: relative;
        left: 3rem;
    }

    .about_pic {
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 0.2rem;
    }

    .about_pic2 {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 0.05rem;
    }

    .about_pic3 {
        position: relative;
        left: 3.4rem;
        margin-top: 0.8rem;
    }

    .abt_points_head1 {
        font-size: 0.8rem;
        position: relative;
        right: 1.4rem;
        white-space: nowrap;
        margin-top: -0.5rem !important;
    }

    .abt_points_txt1 {
        width: auto !important;
        font-size: 0.7rem;
        text-align: center;
        position: relative;
        right: 1.8rem;
    }

    .about_pict2 {
        position: relative;
        left: 3.07rem;
    }

    .abt_points_head2 {
        position: relative;
        right: 0.2rem !important;
    }

    .abt_points_txt2 {
        width: auto !important;
    }

    .abt_points_txt3 {
        right: 1.6rem !important;
        white-space: nowrap;
    }

    .abt_us_btn {
        margin-top: 0.8rem !important;
        margin-left: -1.3rem;
    }

    .abt_us_btn_txt {
        white-space: nowrap;
    }

    .abt_us_btn_icn {
        font-size: 0.9rem !important;
        margin: 1rem 1rem 0 0.5rem !important;
    }

    .abt_main_pic {
        height: 18.6666rem !important;
        width: 14rem !important;
        margin-left: -5.5rem;
    }

    .about_pictures {
        height: 8.2525rem !important;
        width: 11rem !important;
    }

    .about_note {
        bottom: 0rem !important;
        background-color: #1F71CE;
        color: white;
        margin-top: 0.5rem;
        width: 14rem;
        height: 6.56rem;
        padding-right: 0.5rem;
    }

    .about_note_head {
        font-size: 0.85rem;
    }

    .about_note_txt {
        width: 13rem !important;
        font-size: 0.7rem;
        margin-left: 0.4rem;
    }

    .abt_pic_box {
        margin-top: 1rem !important;
    }

    .about_num {
        font-size: 1.2rem;
    }

    .about_foot_head {
        font-size: 0.85rem;
    }

    .about_foot_txt {
        font-size: 0.7rem;
    }

    .abt_foot_box1 {
        margin-left: 1rem !important;
    }

    .abt_div3 {
        display: none !important;
    }

    .abt_foot_box3 {
        margin-left: 0.5rem !important;
    }

    .about_footer {
        border: none;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .about_footer_divider {
        width: 25rem;
        height: 0.06rem;
        border-top: 0.09rem solid rgba(98, 98, 98, 0.2);
        border-radius: 10px;
        display: block !important;
        margin-top: -0.2rem;
    }

    .about_div {
        height: 5.5rem !important;
        margin-left: 3.4rem;
        margin-right: 1.4rem;
    }

    .about_foot_head2 {
        margin-left: 1rem;
    }

    .about_foot_txt2 {
        width: 8rem !important;
        margin-left: 1.4rem;
    }

    .abt_foot_box3 .about_foot_head {
        position: relative;
        left: 0.6rem;
    }

    .abt_foot_box3 .about_foot_txt {
        position: relative;
        left: 0.6rem;
        width: 8rem !important;
    }

    .about_div2 {
        margin-left: 3.7rem !important;
        margin-top: 0rem !important;
    }

    .about_div {
        border-radius: 0;
    }

    .about_num4 {
        position: relative;
        left: 0.7rem;
    }

    .about_foot_head4 {
        position: relative;
        left: 1.25rem;
    }

    .about_foot_txt4 {
        width: 8rem !important;
        position: relative;
        left: 1.35rem;
    }

    .about_foot_box_main {
        border: 1.5px solid rgba(98, 98, 98, 0.25);
        border-radius: 12px;
        width: 25rem;
    }

    .about_foot_head5 {
        margin-top: 0.5rem !important;
        font-size: 1rem !important;
    }

    .about_foot_txt5 {
        width: auto !important;
        white-space: nowrap;
        margin-bottom: 0.5rem !important;
        font-size: 0.75rem !important;
    }

    /*sct8 end*/
    /*sct9 start*/

    #ContactUs {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .cont_div {
        width: 6.2rem !important;
        margin-left: 0rem !important;
        margin-top: 0;
    }

    .contact_head {
        justify-self: baseline;
        text-align: justify;
        font-size: 2rem;
    }

    .contact_text {
        justify-self: baseline;
        text-align: justify;
        margin-left: 0 !important;
    }

    .contact_info_box {
        width: 3rem;
        height: 3rem;
    }

    .contact_info_pic {
        width: 2.5rem;
        height: 2.5rem;
    }

    .contact_info_name {
        font-size: 0.95rem !important;
    }

    .contact_info_txt {
        font-size: 0.85rem !important;
    }
}

@media (max-width: 429px) {
    /* hero section */
    .slogan.tle {
        text-align: left !important;
    }

    .options {
        width: 20rem !important;
    }

    #wrapsDiv1 {
        margin-left: 5rem !important;
    }

    .car_logo2 {
        width: 3rem !important;
        height: 2rem !important;
    }
    
    .stats_pics2 {
        margin-left: 3.5rem !important;
    }
}