.cont1_txt {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-left: -88px;
}

#slogan {
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    margin-left: -88px;
}

#cardNum {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-left: -88px;
}

#phoneNum {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

#desc {
    margin-top: 30px !important;
}

.col-md-7 {
    align-items: flex-start !important;
}