@media(max-width: 768px) {
    #heroCont1 {
        margin-top: 2rem !important;
    }

    .hero_note {
        font-size: 0.9rem;
    }

    #contText1 {
        font-size: 0.95rem !important;
        opacity: 0.9;
        margin-top: 1.5rem !important;
        width: 22rem !important;
    }

    #heroBtn1 {
        width: 11rem !important;
        height: 3.2rem !important;
        margin-top: 1.5rem;
    }

    .hero_btn_txt {
        font-size: 0.85rem;
        white-space: nowrap;
        margin-left: 0rem !important;
        align-self: center;
        margin-top: 0 !important;
    }

    #heroBtn2 {
        width: 11rem !important;
        height: 3.2rem !important;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }

    .slogan.hero_slogan {
        font-size: 2.4rem;
    }

    .car_logo1 {
        width: 2.2rem !important;
        height: 2.2rem !important;
        margin-right: 0.2rem;
    }

    .car_logo2 {
        width: 2.8rem !important;
        height: 2.8rem !important;
        margin-left: 3.5rem !important;
        margin-bottom: 0.5rem;
    }

    .hero_stats_main {
        font-size: 0.85rem;
    }

    .hero_stats_txt {
        font-size: 0.7rem;
        width: 11rem !important;
        text-align: center;
        margin-bottom: 0.9rem;
    }

    .hero_text_wrap {
        margin-left: 0.4rem !important;
    }

    .hero_stat {
        margin-top: 0.5rem !important;
    }

    #heroBlock2 {
        margin-left: 2rem;
    }

    .hero_stats_txt1 {
        margin-left: -0.7rem !important;
    }

    #heroBlockPic2 {
        margin-left: 4.3rem !important;
    }

    #heroBlockPic3 {
        margin-left: 4.2rem !important;
    }

    #heroStat4 {
        margin-left: 2.8rem;
    }

    .hero_phone_div2 {
        border-bottom: 0.09rem solid rgba(255, 255, 255, 0.4);
        width: 23rem;
        margin-left: 1rem;
        height: 0.08rem;
    }

    .hero_phone_div1 {
        border-right: 0.09rem solid rgba(255, 255, 255, 0.4);
        height: 15.5rem;
        margin-left: 12.2rem;
        margin-top: 1rem;
        width: 0.08rem;
        position: absolute;
    }

    .hero_stats_txt4 {
        margin-left: -1.3rem !important;
    }

    #heroBlockPic4 {
        margin-left: 3rem !important;
    }

    .hero_wrap {
        margin-top: 3rem !important;
    }

    .quick_card {
        font-size: 0.9rem !important;
    }

    .sect2 {
        margin-top: 2rem !important;
    }

    .feat_main {
        white-space: normal !important;
        font-size: 2.4rem !important;
        min-width: 25rem !important;
        margin-top: 0.3rem !important;
    }

    .feat_main_txt {
        font-size: 0.9rem;
        margin-bottom: 3rem;
    }

    .car_display_card {
        width: 24rem !important;
        height: 10.5rem !important;
        display: flex;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-self: center !important;
        align-self: center;
    }

    .car_card_img {
        width: 10rem !important;
        height: 100% !important;
        border-radius: 15px 0 0 15px !important;
    }

    .car_card_note {
        width: 4rem !important;
        height: 1rem !important;
        font-size: 0.55rem !important;
        border-radius: 3px !important;
        left: 0.6rem !important;
        top: 0.6rem !important;
    }

    .img_card_count {
        width: 3rem !important;
        height: 1rem !important;
        font-size: 0.55rem !important;
        left: 0.5rem;
        bottom: 0.5rem;
    }

    .car_card_make {
        font-size: 0.9rem !important;
        margin: 0.8rem 0 0.2rem 1rem;
    }

    .car_details {
        font-size: 0.7rem !important;
    }

    .car_card_price {
        margin-top: 1rem !important;
        font-size: 1.15rem !important;
        display: flex;
    }

    .btn_arrow_move {
        display: none;
    }

    .exp_car_link {
        display: flex !important;
        justify-content: center;
    }

    .feat_desc {
        font-size: 0.7rem !important;
        margin-top: 1.2rem !important;
    }

    .feat_km {
        width: 4.25rem;
        white-space: nowrap;
    }

    .feat_icons {
        margin: 0 0.5rem 0 0.5rem !important;
    }

    .feat_btm_icon {
        right: 13.6rem;
        top: 1.7rem;
        position: relative;
    }

    .feat_btm_text {
        position: relative;
        right: 13.6rem;
        top: 1.9rem;
        white-space: nowrap;
    }

    .car_card_icon {
        width: 1.3rem;
        height: 1.3rem;
    }

    .exp_car {
        display: block !important;
        font-size: 1.8rem;
        margin-left: 6.5rem;
    }

    .mt1 {
        margin-top: 1rem !important;
    }

    .card_sold .car_card_sold {
        top: -10rem;
        width: 12rem;
        height: 3rem;
        font-size: 2rem;
        right: 3rem;
        min-width: 15rem;
        rotate: -25deg;
    }

    .sold_car_wrap {
        position: absolute;
        left: 10rem;
        display: ruby;
    }

    .ov_hid {
        overflow: hidden;
    }

    #vd_btn1 {
        margin-top: 4rem;
    }

    .card_sold .car_card_make {
        margin-top: 0.8rem;
    }

    .feat_desc_sold {
        margin-top: 1.2rem !important;
    }

    .flex_di {
        flex-direction: column !important;
    }

    #num_veh_available {
        margin: 0 0 0 0;
        position: absolute;
        margin-top: 2rem;
    }

    .financing_row {
        margin-left: 0 !important;
        padding-bottom: 0rem;
        width: 25.5rem;
        margin-right: 0 !important;
        justify-self: center;
        margin-top: 3rem !important;
        padding: 1rem !important;
        padding-top: 1.5rem !important;
    }

    #repHead1 {
        font-size: 1.83rem !important;
        margin-bottom: 0.4rem !important;
    }

    .financing_text {
        text-align: left !important;
        font-size: 0.8rem !important;
        width: 23rem !important;
    }

    .financing_main_div {
        margin-top: 1rem !important;
        width: 22.3rem !important;
    }
}