body {
    font-family: "Montserrat", sans-serif !important;
    overflow: hidden;
}

#hero_section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 28%, rgba(0, 0, 0, 0.9) 48%, rgba(0, 0, 0, 0.6) 72%, rgba(0, 0, 0, 0.3) 100%),
                linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.42) 100%),url("../pictures/background.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 44rem;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero_section .container {
    position: relative;
    z-index: 2;
}

.head_inv {
    overflow-y: clip;
}

.hero_note {
    color: #1F71CE;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.hero_slogan_word {
    color: #1F71CE;
}

.hero_slogan {
    flex-direction: column;
    justify-self: baseline;
    text-align: justify !important;
}

.hero_btn_txt {
    font-size: 1rem;
    margin: 0.7rem;
    margin-bottom: 0;
    font-weight: 600;
}

.hero_btn {
    height: 4rem !important;
}

.hero_wrap {
    background-color: #000000f3;
    border-radius: 12px;
    border: 2px solid rgb(255 255 255 / 20%);
    margin-top: 4rem;
}

.hero_stats_main {
    font-weight: 600;
    margin-bottom: 0.3rem;
    white-space: nowrap;
}

.hero_stats_txt {
    font-weight: 400;
    font-size: 0.85rem;
    width: 12rem;
    opacity: 0.9;
    margin-bottom: 1.5rem;
}

.hero_stat {
    margin-top: 1.5rem !important;
}

.hero_div {
    margin-top: 2rem !important;
}

.hero_div1 {
    margin-left: -1.5rem !important;
}

.veh_av {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

#num_veh_available {
    font-weight: 550;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0.625rem 0 0 21.7rem;
    text-decoration: none;
    white-space: nowrap;
}

.car_display_card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 22.5rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    position: relative;
    margin-right: 3rem;
}

.car_card_img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    display: block;
    border-radius: 15px 15px 0 0;
}

.btn_arrow_move {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    color: #1F71CE;
    background-color: rgba(255, 255, 255);
    border: 0;
    position: absolute;
    top: 5rem;
}

.car_card_note {
    width: 4rem;
    height: 1.2rem;
    color: white;
    background-color: rgb(0, 0, 141);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.6rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.img_card_count {
    width: 3.5rem;
    height: 1.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 6px;
    right: 1rem;
    bottom: 12rem;
    font-size: 0.6rem;
}

.car_card_make {
    font-size: 1rem;
    font-weight: 650;
    margin: 1rem 0 0.2rem 1rem;
}

.car_card_price {
    margin: 0.5rem 0 0.5rem 1rem;
    font-size: 1.15rem !important;
    color: #1F71CE;
    font-weight: 750;
}

.feat_km {
    font-size: 0.7rem;
    white-space: nowrap;
}

.car_card_icon {
    height: 1rem;
    width: 1rem;
    margin: 0px 0.3rem 0px 1.6rem;
}

#vd_btn1 {
    height: 1.9rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    width: 18rem;
}

#vd_icon1 {
    font-size: 1rem;
}

.car_card_sold_note {
    display: none;
}

.card_sold {
    overflow: hidden;
}

.car_card_sold {
    opacity: 0;
    display: none;
}

.card_sold .car_card_sold_note {
    display: flex;
    font-size: 0.9rem !important;
    color: rgb(111, 111, 111);
    font-weight: 700 !important;
    text-align: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.3);
    border: none !important;
}

.card_sold .car_card_vd {
    display: none;
}

.card_sold .car_card_sold {
    opacity: 1 !important;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    font-size: 2.6rem;
    rotate: -20deg;
    font-weight: 700;
    border-radius: 8px;
    width: 23.8rem;
    height: 4rem;
    display: flex !important;
    justify-content: center;
    position: relative;
    bottom: 8rem;
    right: 2.2rem;
    z-index: 2;
}


.card_sold::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(120, 110, 81, 0.4);
    z-index: 1;
    border-radius: 15px;
}

.card_sold .car_card_price{
    opacity: 0;
}

.card_sold .car_card_note {
    content: '';
    background-color: grey !important;
    color: grey;
}

.card_sold .car_card_make {
    margin-top: -3rem;
}

.car_card_vd:hover {
    background-color: #1F71CE;
    color: white;
    transition: 0.3s ease;
}

.car_card_vd:hover i {
    color: white !important;
    transition: 0.3s ease;
}

.wcu_section {
    margin-top: 3rem;
    padding-top: 0.7rem;
}

.buy_card {
    display: flex;
    background-color: white;
    border: 2px solid rgba(133, 133, 133, 0.33);
    width: 20rem !important;
    border-radius: 9px;
    margin-top: 2rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.buy_circ {
    width: 4rem;
    height: 4rem;
    background-color: #1F71CE20;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 1.2rem;
    margin-right: 0.9rem;
}

.buy_icon {
    width: 3rem;
    height: 3rem;
}

.buy_card_main {
    font-size: 0.9rem;
    font-weight: 650;
    margin-bottom: 0.3rem !important;
    margin-top: 1.2rem;
}

.buy_card_txt {
    width: 15rem;
    font-size: 0.8rem;
    font-weight: 550;
    opacity: 0.9;
}

.financing_main_div {
    height: 0.08rem;
    width: 34rem;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: 0.09rem solid rgba(98, 98, 98, 0.2);
    border-radius: 10px;
}

.financing_little_txt {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.financing_contact {
    color: black;
    cursor: pointer;
}

.financing_contact:hover {
    color: rgba(0, 0, 0, 0.645);
    transition: 0.3s ease;
}

.financing_div {
    height: 25.5rem;
    width: 0.08rem;
    margin: 0rem 1rem 0rem 5rem;
    border-left: 0.09rem solid rgba(98, 98, 98, 0.2);
    border-radius: 10px;
}

.financing_note_head {
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.financing_note_txt {
    font-size: 0.85rem;
    font-weight: 450;
    opacity: 0.9;
    margin-bottom: 0;
}

.inventory_btm_box {
    border-radius: 12px;
    border: 2px solid rgba(133, 133, 133, 0.33);
    margin-top: 3rem;
    display: flex;
    padding: 1rem;
    width: 86rem;
    margin-left: 6.2rem;

}

.inventory_btm_box_circ {
    display: flex;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50px;
    background-color: #1F71CE;
    margin-right: 2rem;
    margin-top: 0.57rem;
}

.inventory_btm_box_head {
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

.inventory_btm_box_txt {
    font-weight: 550;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 27rem;
    margin-bottom: 0.5rem;
}

.inventory_btm_box_div {
    height: 5rem;
    width: 0.08rem;
    margin: 0rem 2rem 0rem 1.5rem;
    border-left: 0.09rem solid rgba(98, 98, 98, 0.2);
    border-radius: 10px;
}

.inventory_btm_note_txt {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 1.8rem;
    margin-bottom: 0rem;
}

.inventory_btm_box_icon {
    margin: 2rem 1rem 0 0rem;
    font-size: 1.05rem;
}

.inventory_btm_note_link {
    color: #1F71CE;
    text-decoration: none;
}

.inventory_btm_note_link:hover {
    color: #123d6f;
    transition: 0.3s ease;
}

.inventory_btm_note_link:hover i {
    color: #123d6f !important;
    transition: 0.3s ease;
}