body {
    font-family: "Montserrat", sans-serif !important;
}

#hero_section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 28%, rgba(0, 0, 0, 0.9) 48%, rgba(0, 0, 0, 0.6) 72%, rgba(0, 0, 0, 0.3) 100%),
                linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.05) 55%, rgba(0, 0, 0, 0.42) 100%),url("../pictures/background.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 44rem;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero_section .container {
    position: relative;
    z-index: 2;
}

.head_inv {
    overflow-y: clip;
}

.hero_note {
    color: #1F71CE;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.hero_slogan_word {
    color: #1F71CE;
}

.hero_slogan {
    flex-direction: column;
    justify-self: baseline;
    text-align: justify !important;
}

.hero_btn_txt {
    font-size: 1rem;
    margin: 0.7rem;
    margin-bottom: 0;
    font-weight: 600;
}

.hero_btn {
    height: 4rem !important;
}

.hero_wrap {
    background-color: #000000f3;
    border-radius: 12px;
    border: 2px solid rgb(255 255 255 / 20%);
    margin-top: 4rem;
}

.hero_stats_main {
    font-weight: 600;
    margin-bottom: 0.3rem;
    white-space: nowrap;
}

.hero_stats_txt {
    font-weight: 400;
    font-size: 0.85rem;
    width: 12rem;
    opacity: 0.9;
    margin-bottom: 1.5rem;
}

.hero_stat {
    margin-top: 1.5rem !important;
}

.hero_div {
    margin-top: 2rem !important;
}

.hero_div1 {
    margin-left: -1.5rem !important;
}

.veh_av {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

#num_veh_available {
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0.625rem 0 0 25.75rem;
    text-decoration: none;
    white-space: nowrap;
}

.car_display_card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 22rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    position: relative;
    margin-right: 3rem;
}

.car_card_img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    display: block;
    border-radius: 15px 15px 0 0;
}

.btn_arrow_move {
     width: 2rem;
    height: 2rem;
    border-radius: 50px;
    color: #1F71CE;
    background-color: rgba(255, 255, 255);
    border: 0;
    position: absolute;
    top: 7.325rem;
}