body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
}

#header, .navbar {
    position: relative;
    z-index: 10;
}

#header {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 85px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);;
}

#img1 {
    width: 280px;
    height: 120px;
    margin-left: 45px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

#abt {
    margin-left: 160px;
}

.link {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: white;
    margin-left: 40px;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    color: #1F71CE;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
    transition: 0.4s;
}

.icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#whatsappIcon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #02b444;
    color: white;
    margin-left: 160px;
}

#whatsappIcon:hover {
    background-color: #008732;
    width: 63px;
    height: 63px;
    font-size: 35px;
    transition: 0.4s;
}

#telegramIcon {
    background-color: white;
    color: #0088CC;
    margin-left: 30px;
    font-size: 48px;
    width: 32px;
    height: 32px;
}

#telegramIcon:hover {
    color: #1b6a92;
    width: 47px;
    height: 47px;
    font-size: 59px;
    transition: 0.4s;
}

.sell_btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 750;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    margin-left: 160px;
}

.sell_btn:hover {
    background-color: #1F71CE;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
    transition: 0.4s;

}

.modal-dialog {
    font-family: "Montserrat", sans-serif;
}

.txt_clr {
    color: #1F71CE;
}

.modal-title {
    font-weight: 800;
}

.modal-header {
    display: block !important;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.btn-close {
    display: flex !important;
}

.star{
    font-size: small !important;
    color: red !important;
}

.form-control {
    margin-bottom: 20px;
}

#disclaimer {
    opacity: .7;
    margin-top: 20px;
}

#btnSubmit {
    width: 300px;
    height: 80px;
    font-family: "Poppins", sans-serif;
    font-size: larger;
}

.modal-footer {
    justify-content: center !important;
}

.footer {
    font-family: "Montserrat", sans-serif;
    background-color: #6ca1dc;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 8rem;
    border-top: 2px solid rgba(255, 255, 255);
    margin-top: 2rem;
}