@media (max-width: 768px) {
        /* hamburger menu */
    .nav_links {
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        max-width: 320px;
        min-height: 100vh;
        padding: 2rem;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(110%);
        display: flex;
        z-index: 999;
        background: #050a12;
    }

    .nav_links.active {
        transform: translateX(0);
    }

    #header {
        position: relative;
        overflow: visible;
    }

    .close_menu {
        right: 1rem;
        position: absolute;
        z-index: 1001;
        color: white;
        font-size: 1.7rem;
        background: none;
        border: none;
    }

    .hamburger {
        display: block;
        right: 1rem;
        position: absolute;
    }

    .hamburger_logo {
        display: block;
        width: 15rem;
        height: 15rem;
        margin-top: -1.5rem;
    }

    .nav_links .link {
        display: flex;
    }

    .nav_links .link_icons {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.8rem;
    }

    .nav_links .home {
        margin-left: 0rem !important;
        margin-top: -3rem !important;
    }

    .nav_links .phone_num {
        font-size: 1.2rem;
        margin: 2rem 0 1.5rem 0rem !important;
        border-bottom: none !important;
    }

    .nav_links.active {
        transform: translateX(0);
    }

    .nav_links .hamburger {
        display: none !important;
    }

    .nav_links .link, .nav_links .phone_num {
        width: 100%;
        margin-top: 1rem;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        margin-left: 0rem;
    }

    .nav_links .head_btn {
        width: 13rem;
        text-align: center;
        margin-left: 0rem !important;
    }
    /* hamburger menu end*/

    /* header */
    #logo {
        width: 12rem;
        height: 11rem;
    }

    .phone_head_link {
        display: block;
        right: 5rem;
        position: absolute;
    }
    /*header end*/

    /*footer start*/
    
    .footer {
        display: block !important;
    }

    .footer_logo {
        width: 12rem;
        height: 4.666rem;
        margin-left: 0rem;
    }

    .foot_div {
        display: none !important;
    }

    .footer_links {
        white-space: nowrap;
        font-size: 0.8rem !important;
        margin-right: 4rem;
    }

    .foot_txt_box {
        width: 10rem !important;
        margin-left: 1.3rem;
    }

    .footer_head {
        font-size: 1rem !important;
        white-space: nowrap;
        margin-top: 1rem !important;
        margin-left: 1rem !important;
        margin-bottom: 0.2rem !important;
    }

    .footer_logo_text {
        width: 100% !important;
        font-size: 0.76rem !important;
        margin: 0 0 0 1.2rem !important;
        font-weight: 500 !important;
    }

    .footer_links_wrap {
        justify-content: start !important;
    }

    .foot_link_inv {
        margin-left: 3.7rem;
    }

    .foot_link_sell {
        margin-left: -0.1rem !important;
    }

    .foot_contact_info {
        margin-top: 2.6rem;
    }

    #footBuy {
        margin-left: 0.2rem;
        margin-right: 2.8rem !important;
    }

    #footMaint {
        margin-left: 0.93rem;
        margin-right: 2.7rem !important;
    }

    .foot_info_cont_icn {
        margin-top: -0.15rem;
    }

    .foot_last_box {
        margin-top: 5rem;
    }
}